h1 {
		font-family: 'Helvetica';
		text-align: center;
	}

ul li { 
        display: inline;
        position: center;
        padding-left: 35px;
        padding-right: 35px;
        color: blue;
    }

